/T1interfaces/src/JSwing2/build/
/T1interfaces/src/JSwing2/dist/
/T1interfaces/src/JSwing2/nbproject/private/
/Adrian_parejas/build/
/T1interfaces/dist/
/Tema2Grafico/nbproject/private/
/Tema2Grafico/build/
/Tema2Grafico/dist/
